<div class="padre">
    <div class="interno">
      <img src="./../../../../assets/barber.jpg" alt="" width="100%">
    </div>
    <div class="interno pagina">
      <h1 style="color: wheat;">Resumen del Cliente</h1>
      <ul class="menu">
        <li class="submenu" [class.active]="opcionSeleccionada === 'opcion1'" (click)="mostrarContenido('opcion1')">Servicios</li>
        <li class="submenu" [class.active]="opcionSeleccionada === 'opcion2'" (click)="mostrarContenido('opcion2')">Información Cliente</li>
        <li class="submenu" [class.active]="opcionSeleccionada === 'opcion3'" (click)="mostrarContenido('opcion3')">Resumen Cita</li>
      </ul>
  
      <div *ngIf="opcionSeleccionada === 'opcion1'" class="opcion1">
        <h2>Opción 1 seleccionada - Servicios disponibles</h2>
        <ul class="opcion-lista">
          <li *ngFor="let servicio of servicios" class="opcion-item">
            <h3 class="opcion-nombre">{{ servicio.nombre }}</h3>
            <h3 class="opcion-costo">Costo: {{ servicio.costo }}</h3>            
          </li>
          <hr class="linea-blanca">
        </ul>
      </div>
      
      <div *ngIf="opcionSeleccionada === 'opcion2'" class="opcion2">
        <h2>Opción 2 seleccionada - Datos del cliente</h2>
        <h3>Nombre: {{ cliente[0].nombre }} {{ cliente[0].apellido }}</h3>
        <h3>Correo electrónico: {{ cliente[0].email }}</h3>
        <h3>Teléfono: {{ cliente[0].telefono }}</h3>
        
        <div style="width:40%; margin: auto;">
            <img  src="./../../../../assets/imagenLogin.jpg" alt="">
        </div>
      </div>
      
      <div *ngIf="opcionSeleccionada === 'opcion3'" class="opcion3">
        <h2>Opción 3 seleccionada - Resumen de la cita</h2>
        <p>Fecha: {{ cita[0].fecha | date:'dd/MM/yyyy' }}</p>
        <p>Hora: {{ cita[0].hora }}</p>
        <p>Servicios:</p>
        <ul class="opcion-lista">
          <li *ngFor="let servicioId of cita[0].serviciosIds" class="opcion-item">
            <h3 class="opcion-nombre">{{ servicioService.obtenerServicioPorId(servicioId)?.nombre }}:</h3>
            <h3 class="opcion-costo">Costo: {{ servicioService.obtenerServicioPorId(servicioId)?.costo }}</h3>
          </li>
          <hr class="linea-blanca">
        </ul>
        <p>Total costo: {{ cita[0].totalCosto }}</p>
      </div>
        
      <div class="botones-navegacion" style="margin-left: 20px;">
        <button class="boton-navegacion" (click)="cambiarOpcion(-1)">Retroceder</button>
        <button class="boton-navegacion" (click)="cambiarOpcion(1)">Avanzar</button>
      </div>
    </div>
  </div>
  