<div class="login-container">
<div class="registro-container">
    <h2>Registro de Usuario</h2>
   
    <form action="#" method="post" (submit)="registrarCliente($event)">


      
      <div>
        <label for="f_nombre">Nombre:</label>
        <input type="text" id="f_nombre" name="f_nombre" class="form-control">
      </div>
      <div>
        <label for="f_correo">Correo:</label>
        <input type="email" id="f_correo" name="f_correo" class="form-control">
      </div>
      <div>
        <label for="f_clave">Contraseña:</label>
        <input type="password" id="f_clave" name="f_clave" class="form-control">
      </div>
      <div>
        <label for="f_telefono">Telefono:</label>
        <input type="tel" id="f_telefono" name="f_telefono" class="form-control">
      </div>
      <div>
        <label for="f-ireccion">Direccion:</label>
        <input type="text" id="f_direccion" name="f_direccion" class="form-control">
      </div>

      <div class="form-group row">
        <div class="col-lg-12">
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Registrarse">
        </div>
      </div>
    </form>
  </div>
  
</div>