
<div class="container mt-5">

<div class="row align-items-center custom-border">

  <div class="col-md-3">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required><br><br>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" required><br><br>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label for="clave">Clave:</label>
      <input type="password" id="clave" name="clave" required><br><br>
    </div>
  </div>

<div class="col-md-6" style="padding: 10px;">
  <button type="button" class="btn btn-primary btn-full-width" >
       Agregar <i class="bi bi-person-plus" > </i>
  </button>
</div>

</div>
<br>
    TABLA PELUQUEROS
<br>
.

<hr>
<table class="table table-xs">
    <thead>
      <tr>
          
        <th>#</th> 
        <th>Nombre</th> 
        <th>Correo</th> 
        <th>Clave</th> 
        <th>Id_usuario</th>
        
      </tr>
    </thead> 
   
         
    <tbody>
      <tr>
        <tr *ngFor="let peluquero of peluquero let i=index ">
          <th scope="row"> {{i+1}} </th>
          <td>{{ peluquero.nombre }}</td>
          <td>{{ peluquero.correo }}</td>
          <td>{{ peluquero.clave }}</td>
          <td>{{ '3' }}</td>

      </tr>
    </tbody> 
    
    
  </table>
</div>