<div class="padre">
    <div class="interno">
        <img src="./../../../../assets/barber.jpg" alt="" width="100%">
    </div>
    <div class="interno pagina">
        <section id="quienes-somos">
            <!-- Sección "Quiénes somos" -->
            <h2>Quiénes somos</h2>
            <p>En Peluquería XYZ nos enorgullece ofrecer servicios de peluquería de alta calidad a nuestros clientes. Con años de experiencia en el sector, nuestro equipo de expertos estilistas está comprometido en brindar un excelente servicio y satisfacer todas tus necesidades capilares. Ya sea que necesites un simple corte de pelo o un cambio de imagen completo, estamos aquí para ayudarte a lucir y sentirte mejor.</p>
          </section>
          
          <section id="nuestros-servicios">
            <!-- Sección "Nuestros servicios" -->
            <h2>Nuestros servicios</h2>
            <ul>
              <li>Cortes de pelo para hombres, mujeres y niños</li>
              <li>Peinados y estilismo para eventos especiales</li>
              <li>Coloración y mechas</li>
              <li>Tratamientos capilares</li>
              <li>Extensiones de cabello</li>
              <li>Afeitado y arreglo de barba</li>
              <li>Y mucho más...</li>
            </ul>
          </section>
          
          <section id="carta-presentacion">
            <!-- Sección de carta de presentación al cliente -->
            <h2>¡Bienvenido a Peluquería XYZ!</h2>
            <p>Estamos emocionados de darte la bienvenida a nuestra peluquería. Nuestro objetivo principal es garantizar que te sientas cómodo y satisfecho con nuestros servicios. Nuestro equipo amable y profesional se asegurará de que tengas una experiencia agradable mientras cuidamos de tu cabello. ¡Esperamos verte pronto y ayudarte a lograr el estilo perfecto que deseas!</p>
          </section>
    </div>
</div>